.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px auto auto 100px;
  grid-template-areas: "header header" "aside form" "aside main" "footer footer";
}

@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
.header {
  grid-area: header;
}
.aside {
  grid-area: aside;
}

.form {
  grid-area: form;
}

.form__card {
  background-color: #eee;
  margin: 10px 30%;
  border-radius: 10px;
  padding: 20px;
  border: 20px;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.list__card {
  background-color: plum;
  margin: 5px 30%;
  border-radius: 10px;
  padding: 20px;
}
